.DS_Store
node_modules

!.gitkeep

/*/dist/**

# MkDocs documentation
site*/
.cache

# Jest snapshot fix files
*.snap.fix
# Coding Asssitant
.kiro/settings
.kiro/specs
.venv
.pytest_cache
**/__pycache__/**
.ruff_cache
.claude